@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Charlotte';
    src: url('../assets/Charlotte.otf');
}
.logoText {
    font-family: 'Charlotte';
}
.h3title::after {
    content: "";
    display: block;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    height: 5px;
    background: #00CED1;
}
a {
    color: #00babd;
    font-weight: 700;
}